.wy-side-nav-search, .wy-nav-top {background-color: #9dc545}
.wy-side-nav-search input[type="text"] {border-color: #5b8800; padding: 8px 14px; font-size: 0.6em}
.highlight .hll { background-color: #ffffcc }
.highlight  { background: #ffffff; }
.highlight .pre { font-family: 'Consolas', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono' }
.highlight .pre { font-size: 13px; }
.highlight .c { color: #008000 } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #0000ff } /* Keyword */
.highlight .cm { color: #008000 } /* Comment.Multiline */
.highlight .cp { color: #0000ff } /* Comment.Preproc */
.highlight .c1 { color: #008000 } /* Comment.Single */
.highlight .cs { color: #008000 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #0000ff } /* Keyword.Constant */
.highlight .kd { color: #0000ff } /* Keyword.Declaration */
.highlight .kn { color: #0000ff } /* Keyword.Namespace */
.highlight .kp { color: #0000ff } /* Keyword.Pseudo */
.highlight .kr { color: #0000ff } /* Keyword.Reserved */
.highlight .kt { color: #2b91af } /* Keyword.Type */
.highlight .s { color: #a31515 } /* Literal.String */
.highlight .nc { color: #2b91af } /* Name.Class */
.highlight .ow { color: #0000ff } /* Operator.Word */
.highlight .sb { color: #a31515 } /* Literal.String.Backtick */
.highlight .sc { color: #a31515 } /* Literal.String.Char */
.highlight .sd { color: #a31515 } /* Literal.String.Doc */
.highlight .s2 { color: #a31515 } /* Literal.String.Double */
.highlight .se { color: #a31515 } /* Literal.String.Escape */
.highlight .sh { color: #a31515 } /* Literal.String.Heredoc */
.highlight .si { color: #a31515 } /* Literal.String.Interpol */
.highlight .sx { color: #a31515 } /* Literal.String.Other */
.highlight .sr { color: #a31515 } /* Literal.String.Regex */
.highlight .s1 { color: #a31515 } /* Literal.String.Single */
.highlight .ss { color: #a31515 } /* Literal.String.Symbol */

/* fix color styling for visited links */
.rst-content .reference.external:visited span {color: #2980B9}
.rst-content .reference.external:visited {color: #2980B9}
.rst-content .reference.internal:visited span {color: #2980B9}
.rst-content .reference.internal:visited {color: #2980B9}
.rst-content a:visited {color: #2980B9}

/* fix linegeight in navigation */
.toctree-l1 > a {line-height: 25px}
.toctree-l2 > a {padding-top: 0.6045em !important; padding-bottom: 0.6045em !important;}

/* fix margin between sections in navigation */
.wy-menu.wy-menu-vertical > .caption {margin-top:20px}

/* hide home icon */
a.icon-home:before {display:None}

/* hide version */
.wy-side-nav-search .version {display:None}

/* fix title in logo */
.wy-side-nav-search {text-align: left; font-size: 1.5em}

/* fix placeholder color */
#rtd-search-form > input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9b9b9b;
    opacity: 1; /* Firefox */
}
#rtd-search-form > input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9b9b9b;
}
#rtd-search-form > input::-ms-input-placeholder { /* Microsoft Edge */
    color: #9b9b9b;
}
